<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WeatherApp"
        tools:targetApi="31">

        <!-- Main activity declaration -->
        <activity
            android:name=".MainActivity"
            android:exported="true"> <!-- Required for activities that can be launched from outside the app -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- SecondPage activity declaration -->
        <activity
            android:name=".SecondPage"
            android:exported="true" /> <!-- Set to true if it needs to be accessible from other apps -->

    </application>

</manifest>
